<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers - Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <img src="checkerslogo.png" alt="Checkers Logo" class="logo">
        <span class="span-logo">Checkers 2025</span>
        <h3><span id="red-player-name" style="color: red;">Red</span> vs <span id="black-player-name" style="color: black;">Black</span></h3>
        <a href="/logout">Sign Out</a>        
   </nav>
    <div class="game-container">
        <div id="game-board"></div>
        <div id="game-status"></div>
        <!-- for testing purposes, comment out in production -->
        <button id="restart-button" onclick="startNewGame()">Restart Game</button> 
    </div>
    
    <div id="game-over-overlay" class="overlay">
        <div class="overlay-card">
            <h2 id="winner-message">Winner!</h2>
            <div class="overlay-buttons">
                <button class="button" onclick="window.location.href='find_games.html'">Return to Lobby</button>
            </div>
        </div>
    </div>
    
    <script src="game.js" charset="utf-8"></script>
</body>
    <section class="footer">
        <h3>2025 Checkers by: Michael Becerril, Ben Huefner, and Salvador Plancarte</h3>
    </section>
</html>
