<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers - Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <img src="checkerslogo.png" alt="Checkers Logo" class="logo">
        <span>Checkers 2025</span>
        <h3>Red vs Black</h3>
        <a href="/logout">Sign Out</a>        
   </nav>
    <div id="game-board"></div>
    <div id="game-status"></div>
    <script src="game.js" charset="utf-8"></script>
</body>
    <section class="footer">
        <h3>2025 Checkers by: Michael Becerril, Ben Huefner, and Salvador Plancarte</h3>
    </section>
</html>
